<!DOCTYPE html>
<html>
  <head>
    <title>College Dunia</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
 
</head>
  <body>
   
             <!-- ADD NEW CATEGRY  -->


              <div class="container">
                <div class="row">

                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"> Add MBA PRIVATE College</div>
                                 </div>  
                            <div class="panel-body" >
                                <form action="/addmbapvt" id="EmployeeForm" class="form-horizontal" method="post"  role="form" >
                                  
                                    <div class="form-group">
                                        <label for="username" class="col-md-3 control-label">CD Rank</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="rank" placeholder="Enter Table Name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="username" class="col-md-3 control-label">College Name</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="cname" placeholder="Enter Table Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="username" class="col-md-3 control-label">College Link</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="link" placeholder="Enter Table Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="username" class="col-md-3 control-label">Course Fees</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="fees" placeholder="Enter Table Id">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="username" class="col-md-3 control-label">User Reviews</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="reviews" placeholder="Enter Table Id">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="Add Seat" class="btn btn-primary">   
                                        </div>
                                    </div>
                                    
                                    <p><a href="/mbapvt">Go to MBA Private College</a></p>
                                     
                                    
                                    
                                    
                                </form>
                             </div>
                        </div>
            
                   
                   
                    
             </div> 
                </div>
              </div>
    </body>
</html>