<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 20px;
        }

        th {
            text-align: left;
        }

        .text {
            text-align: center;
            margin-top: 40px;
        }

        button {
            display: block;
            text-align: center;
            align-items: center;
            margin-top: 20px;
            margin-left: 670px;
            color: white;
        }
    </style>
</head>

<body>
    <h1>JEE ADVANCED CUTOFF </h1>
    <table style="width:100%" class="text">
        <tr>
            <th style="text-align: center;">Category</th>
            <th style="text-align: center;">JEE Main Cut off 2023 Percentile (Expected)</th>
            
        </tr>
        <tr>
            <td>General </td>
            <td>88 – 100</td>
              </tr>
        <tr>
            <td>EWS</td>
            <td>78 – 89</td>
          </tr>
        <tr>
            <td>OBC- NCL</td>
            <td>74 – 89</td>
            </tr>
        <tr>
            <td>SC</td>
            <td>54 – 89</td>
            
        </tr>
        <tr>
            <td>ST</td>
            <td>44 – 89</td>
            </tr>
        <tr>
            <td>Gen- PwD</td>
            <td>0.11 – 89</td>
            </tr>
    </table> <button><a href="https://engineering.careers360.com/articles/jee-advanced-cutoff">For More Details</a></button>
</body>

</html>