<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About Section | By Code Info</title>
    <link rel="stylesheet" href="jee.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>-- JEE ADVANCED--</h1>
      <div class="about-section">
<p>
    Joint Entrance Examination – Advanced, is an academic examination held annually in India. It is organised by one of the seven zonal IITs under the guidance of the Joint Admission Board on a round-robin rotation pattern for the qualifying candidates of the JEE-Main
          <br />
          <button><a href="https://wbjeeb.nic.in/WBJEECMS/Page/Page?PageId=1&LangId=P">More Info</a></button>
        </p>
      </div>
    </div>
  </body>
</html>