<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About Section | By Code Info</title>
    <link rel="stylesheet" href="jee.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>-- BITS–Pilani --</h1>
      <div class="about-section">
<p>
    BITS Pilani is a private deemed university for higher education and research in Engineering. The university is among the first six institutes to be awarded ‘Institute of Eminence’ status. BITS Pilani is the only Indian private university featured in the top 200 universities in Asia by QS Asia University Rankings 2022. Birla Institute of Technology has campuses in Pilani, Goa, Hyderabad, and Dubai. With BITS Pilani in Dubai, the institute has become the first internationally deemed university. 
          <br />
          <button><a href="https://collegedunia.com/university/25800-bits-pilani-pilani-campus-pilani">More Info</a></button>
        </p>
      </div>
    </div>
  </body>
</html>