<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About Section | By Code Info</title>
    <link rel="stylesheet" href="jee.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>-- CAT EXAM --</h1>
      <div class="about-section">
        
        <p>
            The Common Admission Test is a computer based test for admission in graduate management programs. The test consists of three sections: Verbal Ability and Reading Comprehension, Data Interpretation and Logical Reasoning and Quantitative Ability.
            <br />
          <button><a href="https://collegedunia.com/exams/cat">More Info</a></button>
        </p>
      </div>
    </div>
  </body>
</html>