<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 20px;
        }

        th {
            text-align: left;
        }

        .text {
            text-align: center;
            margin-top: 40px;
        }

        button {
            display: block;
            text-align: center;
            align-items: center;
            margin-top: 20px;
            margin-left: 670px;
            color: white;
        }
    </style>
</head>

<body>
    <h1>CAT EXAM CUTOFF FOR COLLEGE </h1>
    <table style="width:100%" class="text">
        <tr>
            <th style="text-align: center;">IIM Colleges</th>
            <th style="text-align: center;">Qualifying CAT cut offs </th>
           
        </tr>
        <tr>
            <td>IIM Ahmedabad </td>
            <td>85</td>
              </tr>
        <tr>
            <td>IIM Bangalore</td>
            <td>93</td>
           </tr>
        <tr>
            <td>IIM Calcutta</td>
            <td>85</td>
            </tr>
        <tr>
            <td>IIM Lucknow</td>
            <td>90</td>
            </tr>
        <tr>
            <td>IIM Indore</td>
            <td>95</td>
            </tr>
        <tr>
            <td>IIM Kozhikode</td>
            <td>85</td>
              </tr>
              <tr>
                <td>IIM Amritsar</td>
                <td>90</td>
                </tr>
    </table> 
    <button><a href="https://www.shiksha.com/mba/cat-exam-cutoff">For More Details</a></button>
</body>

</html>