<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About Section | By Code Info</title>
    <link rel="stylesheet" href="jee.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>-- CLAT EXAM --</h1>
      <div class="about-section">
        
        <p>
            The Common Law Admission Test is a centralized national-level entrance test for admissions to 24 National Law Universities except NLU Delhi which takes admissions All India Law Entrance Test. A few private and self-financed law schools in India also use these scores for law admissions.
          <br />
          <button><a href="https://collegedunia.com/exams/clat">More Info</a></button>
        </p>
      </div>
    </div>
  </body>
</html>