<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 20px;
        }

        th {
            text-align: left;
        }

        .text {
            text-align: center;
            margin-top: 40px;
        }

        button {
            display: block;
            text-align: center;
            align-items: center;
            margin-top: 20px;
            margin-left: 670px;
            color: white;
        }
    </style>
</head>

<body>
    <h1>CMAT EXAM CUTOFF FOR COLLEGE </h1>
    <table style="width:100%" class="text">
        <tr>
            <th style="text-align: center;">College accepting CMAT score</th>
            <th style="text-align: center;">CMAT 2023 cutoff percentile (expected)</th>
           
        </tr>
        <tr>
            <td>Jamnalal Bajaj Institute of Management Studies (JBIMS) Mumbai </td>
            <td>99.9</td>
              </tr>
        <tr>
            <td>Goa Institute of Management, Goa</td>
            <td>95-99</td>
           </tr>
        <tr>
            <td>K J Somaiya Institute of Management Studies & Research (KJSIMSR), Mumbai</td>
            <td>95-99</td>
            </tr>
        <tr>
            <td>SIMSREE, Mumbai</td>
            <td>99+</td>
            </tr>
        <tr>
            <td>Pune University Department of Management Sciences (PUMBA DMS)</td>
            <td>95-99</td>
            </tr>
        <tr>
            <td>Great Lakes Institute of Management, Chennai</td>
            <td>95-99</td>
              </tr>
              <tr>
                <td>Xavier Institute of Social Service, Ranchi</td>
                <td>95</td>
                </tr>
    </table> 
    <button><a href="https://bschool.careers360.com/articles/cmat-cutoff">For More Details</a></button>
</body>

</html>