<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About Section | By Code Info</title>
    <link rel="stylesheet" href="jee.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>-- CMAT EXAM --</h1>
      <div class="about-section">
        
        <p>
            Common Management Admission Test is an online computer-based test conducted by the National Testing Agency, India. It is a national-level admission test for facilitating institutions to select suitable students for admission in all management programmes approved by AICTE.
            <br />
          <button><a href="https://www.shiksha.com/mba/cmat-exam">More Info</a></button>
        </p>
      </div>
    </div>
  </body>
</html>