<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 20px;
        }

        th {
            text-align: left;
        }

        .text {
            text-align: center;
            margin-top: 40px;
        }

        button {
            display: block;
            text-align: center;
            align-items: center;
            margin-top: 20px;
            margin-left: 670px;
            color: white;
        }
    </style>
</head>

<body>
    <h1>CAT EXAM CUTOFF FOR COLLEGE </h1>
    <table style="width:100%" class="text">
        <tr>
            <th style="text-align: center;">University Name</th>
            <th style="text-align: center;">GMAT Score Range </th>
           
        </tr>
        <tr>
            <td>Stanford University </td>
            <td>610-790</td>
              </tr>
        <tr>
            <td>Northwestern University</td>
            <td>600-780</td>
           </tr>
        <tr>
            <td>Yale University</td>
            <td>690-760</td>
            </tr>
        <tr>
            <td>University of Chicago</td>
            <td>620-790</td>
            </tr>
        <tr>
            <td>University of Pennsylvania</td>
            <td>530-790</td>
            </tr>
        <tr>
            <td>Harvard University</td>
            <td>580-790</td>
              </tr>
              <tr>
                <td>Columbia University</td>
                <td>530-790</td>
                </tr>
    </table> 
    <button><a href="https://studyabroad.shiksha.com/exams/gmat/cut-off">For More Details</a></button>
</body>

</html>