<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About Section | By Code Info</title>
    <link rel="stylesheet" href="jee.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>-- GMAT EXAM --</h1>
      <div class="about-section">
        
        <p>
            The Graduate Management Admission Test is a computer adaptive test intended to assess certain analytical, writing, quantitative, verbal, and reading skills in written English for use in admission to a graduate management program, such as a Master of Business Administration program.
            <br />
          <button><a href="https://studyabroad.shiksha.com/exams/gmat">More Info</a></button>
        </p>
      </div>
    </div>
  </body>
</html>