<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 20px;
        }

        th {
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>Top IIMs in India </h1>
    <table style="width:100%">
        <tr>
            <th>CD Rank</th>
            <th>Colleges</th>
            <th>Course Fees</th>
            <th>User Reviews</th>
            <th>Action</th>
        </tr>
        <tr> 
            <td>#1</td>
            <td>
                <h3><a
                        href="https://collegedunia.com/university/25602-iim-bangalore-indian-institute-of-management-bangalore">
                        IIM Bangalore - Indian Institute of Management </a></h3>
                <p> Bangalore Bangalore, Karnataka |AICTE, UGC Approved</p>
            </td>
            <td>
                <h3>₹ 330,250</h3>
                <p>B.Tech-First Year Fees</p>
            </td>
            <td>
                <h3>8.6/10</h3>
                <p>Based On 83 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
        <tr>
            <td>#2</td>
            <td>
                <h3><a href="https://collegedunia.com/university/25494-indian-institute-of-management-iima-ahmedabad">
                        Indian Institute of Management </a></h3>
                <p> [IIMA], Ahmedabad Ahmedabad, Gujarat |UGC Approve </p>
            </td>
            <td>
                <h3>₹ 196,250</h3>
                <p>B.Tech-First Year Fees</p>
            </td>
            <td>
                <h3>8.1/10</h3>
                <p>Based On 185 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
        <tr>
            <td>#3</td>
            <td>
                <h3><a href="https://collegedunia.com/university/26006-indian-institute-of-management-iimc-kolkata">Indian
                        Institute of Management - [IIMC], Kolkata Kolkata </a></h3>
                <h3></h3>
                <p>West Bengal |UGC Approved</p>
            </td>
            <td>
                <h3>₹ 122,250</h3>
                <p>B.Tech-First Year Fees</p>
            </td>
            <td>
                <h3>8.0/10</h3>
                <p>Based On 205 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
        <tr>
            <td>#4</td>
            <td>
                <h3><a href="https://collegedunia.com/university/25946-indian-institute-of-management-iim-lucknow">
                        Indian Institute of Management - [IIM] </a></h3>
                <p>Lucknow Lucknow, Uttar Pradesh |UGC, AACSB, AMBA Approved</p>
            </td>
            <td>
                <h3>₹ 126,250</h3>
                <p>B.Tech-First Year Fees</p>
            </td>
            <td>
                <h3>8.5/10</h3>
                <p>Based On 181 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
    </table>
</body>

</html>