<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 20px;
        }

        th {
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>Government BE/B.Tech Colleges in India </h1>
    <table style="width:100%">
        <tr>
            <th>CD Rank</th>
            <th>Colleges</th>
            <th>Course Fees</th>
            <th>User Reviews</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>#1</td>
            <td>
                <h3><a
                        href="https://collegedunia.com/university/25881-iit-madras-indian-institute-of-technology-iitm-chennai">
                        IIT Madras - Indian Institute of Technology </a></h3>
                <p>[IITM], Chennai Chennai, Tamil Nadu |AICTE Approved</p>
            </td>
            <td>
                <h3>₹ 330,250</h3>
                <p>B.Tech-First Year Fees</p>
            </td>
            <td>
                <h3>8.6/10</h3>
                <p>Based On 83 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
        <tr>
            <td>#2</td>
            <td>
                <h3><a
                        href="https://collegedunia.com/university/25455-iit-delhi-indian-institute-of-technology-iitd-new-delhi">
                        IIT Delhi - Indian Institute of Technology [IITD] </a></h3>
                <p> New Delhi New Delhi, Delhi NCR </p>
            </td>
            <td>
                <h3>₹ 196,250</h3>
                <p>B.Tech-First Year Fees</p>
            </td>
            <td>
                <h3>8.1/10</h3>
                <p>Based On 185 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
        <tr>
            <td>#3</td>
            <td>
                <h3><a
                        href="https://collegedunia.com/university/25703-iit-bombay-indian-institute-of-technology-iitb-mumbai">IIT
                        Bombay - Indian Institute of Technology </a></h3>
                <h3></h3>
                <p>[IITB], Mumbai Mumbai, Maharashtra |AICTE, UGC Approved</p>
            </td>
            <td>
                <h3>₹ 122,250</h3>
                <p>B.Tech-First Year Fees</p>
            </td>
            <td>
                <h3>8.0/10</h3>
                <p>Based On 205 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
        <tr>
            <td>#4</td>
            <td>
                <h3><a
                        href="https://collegedunia.com/university/26007-iit-kharagpur-indian-institute-of-technology-iitkgp-kharagpur">
                        IIT Kharagpur - Indian Institute of Technology - [IITKGP], Kharagpur </a></h3>
                <p>Kharagpur, West Bengal |AICTE, UGC Approved</p>
            </td>
            <td>
                <h3>₹ 126,250</h3>
                <p>B.Tech-First Year Fees</p>
            </td>
            <td>
                <h3>8.5/10</h3>
                <p>Based On 181 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
    </table>
</body>

</html>