<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 20px;
        }

        th {
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>Government BE/Law Colleges in India </h1>
    <table style="width:100%">
        <tr>
            <th>CD Rank</th>
            <th>Colleges</th>
            <th>Course Fees</th>
            <th>User Reviews</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>#1</td>
            <td>
                <h3><a
                        href="https://collegedunia.com/university/25621-national-law-school-of-india-university-nlsiu-bangalore">
                        NLSIU Bangalore </a></h3>
                <p>Bangalore, Karnataka BCI Approved
                </p>
            </td>
            <td>
                <h3>₹ 330,250</h3>
                <p>Law-First Year Fees</p>
            </td>
            <td>
                <h3>8.6/10</h3>
                <p>Based On 83 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
        <tr>
            <td>#2</td>
            <td>
                <h3><a
                        href="https://collegedunia.com/university/25465-national-law-university-nlu-new-delhi">
                        National Law University - [NLU], New Delhi </a></h3>
                <p> New Delhi New Delhi, Delhi NCR </p>
            </td>
            <td>
                <h3>₹ 196,250</h3>
                <p>Law-First Year Fees</p>
            </td>
            <td>
                <h3>8.1/10</h3>
                <p>Based On 185 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
        <tr>
            <td>#3</td>
            <td>
                <h3><a
                        href="https://collegedunia.com/university/25703-iit-bombay-indian-institute-of-technology-iitb-mumbai">IIT
                        NALSAR University of Law - [NALSAR], Hyderabad</a></h3>
                <h3></h3>
                <p>Hyderabad, Telangana |BCI, UGC Approved</p>
            </td>
            <td>
                <h3>₹ 122,250</h3>
                <p>Law-First Year Fees</p>
            </td>
            <td>
                <h3>8.0/10</h3>
                <p>Based On 205 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
        <tr>
            <td>#4</td>
            <td>
                <h3><a
                        href="https://collegedunia.com/university/26007-iit-kharagpur-indian-institute-of-technology-iitkgp-kharagpur">
                        NUJS (NLU Kolkata) </a></h3>
                <p>Kharagpur, West Bengal |AICTE, UGC Approved</p>
            </td>
            <td>
                <h3>₹ 126,250</h3>
                <p>Law-First Year Fees</p>
            </td>
            <td>
                <h3>8.5/10</h3>
                <p>Based On 181 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
    </table>
</body>

</html>