<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About Section | By Code Info</title>
    <link rel="stylesheet" href="jee.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>-- MAT EXAM --</h1>
      <div class="about-section">
        
        <p>
            Management Aptitude Test or MAT is a national-level entrance exam conducted by the All India Management Association (AIMA) for admissions to MBA/PGDM courses. The exam is conducted in multiple sessions a year in four phases – February, May, September and December. Qualifying candidates are eligible for admissions to 800+ B-schools accepting MAT scores. 
            <br />
          <button><a href="https://www.shiksha.com/mba/mat-exam">More Info</a></button>
        </p>
      </div>
    </div>
  </body>
</html>