<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 20px;
        }

        th {
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>Top Government MBA Colleges in India </h1>
    <table style="width:100%">
        <tr>
            <th>CD Rank</th>
            <th>Colleges</th>
            <th>Course Fees</th>
            <th>User Reviews</th>
            <th>Action</th>
        </tr>
        <tr> 
            <td>#1</td>
            <td>
                <h3><a
                        href="https://www.shiksha.com/college/xlri-xavier-school-of-management-jamshedpur-28564">
                        XLRI Xavier School of Management </a></h3>
                <p> XLRI Jamshedpur is ranked 8 for MBA by NIRF 2021 and ranked one by The Times for MBA. </p>
            </td>
            <td>
                <h3>₹ 330,250</h3>
                <p>MBA First Year Fees</p>
            </td>
            <td>
                <h3>8.6/10</h3>
                <p>Based On 83 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
        <tr>
            <td>#2</td>
            <td>
                <h3><a href="https://www.shiksha.com/college/management-development-institute-gurgaon-4223">
                    Management Development Institute, Gurgaon </a></h3>
                <p> Management Development Institute, known as MDI Gurgaon is one of the leading private B-schools founded in 1973. </p>
            </td>
            <td>
                <h3>₹ 196,250</h3>
                <p>MBA-First Year Fees</p>
            </td>
            <td>
                <h3>8.1/10</h3>
                <p>Based On 185 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
        <tr>
            <td>#3</td>
            <td>
                <h3><a href="https://www.shiksha.com/college/symbiosis-institute-of-business-management-symbiosis-international-pune-lavale-village-3959">Indian
                    Symbiosis Institute of Business Management, Symbiosis Internat </a></h3>
                <h3></h3>
                <p>The selection process for the course consists of an entrance exam, followed by a Personal Interview (PI) round. </p>
            </td>
            <td>
                <h3>₹ 122,250</h3>
                <p>MBA-First Year Fees</p>
            </td>
            <td>
                <h3>8.0/10</h3>
                <p>Based On 205 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
        <tr>
            <td>#4</td>
            <td>
                <h3><a href="https://collegedunia.com/university/25946-indian-institute-of-management-iim-lucknow">
                        Indian Institute of Management - [IIM] </a></h3>
                <p>Lucknow Lucknow, Uttar Pradesh |UGC, AACSB, AMBA Approved</p>
            </td>
            <td>
                <h3>₹ 126,250</h3>
                <p>MBA-First Year Fees</p>
            </td>
            <td>
                <h3>8.5/10</h3>
                <p>Based On 181 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
    </table>
</body>

</html>