<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 20px;
        }

        th {
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>Top IIIT COLLEGES IN INDIA</h1>
    <table style="width:100%">
        <tr>
            <th>CD Rank</th>
            <th>Colleges</th>
            <th>Course Fees</th>
            <th>User Reviews</th>
            <th>Action</th>


        </tr>

        <tr>
            <td>#1</td>
            <td>
                <h3><a
                        href="https://www.careers360.com/university/assam-agricultural-university-jorhat?icn=college_page&ici=clg_714_college_listing_tuple">International
                        AAU Jorhat</a></h3>
                <p> Assam Agricultural University, Jorhat</p>
            </td>

            <td>
                <h3>₹ 330,250</h3>
                <p>Medical-First Year Fees</p>
            </td>

            <td>
                <h3>8.6/10</h3>
                <p>Based On 83 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3 style="color:brown"><a href="/signup">Apply Now</a></h3>
            </td>

        </tr>

        <tr>
            <td>#2</td>
            <td>
                <h3><a
                        href="https://www.careers360.com/colleges/armed-forces-medical-college-pune?icn=college_page&ici=clg_5744_college_listing_tuple">
                        AFMC Pune - Armed Forces Medical College, Pune
                    </a></h3>
                <p> Pune, Maharashtra</p>
            </td>
            <td>
                <h3>₹ 196,250</h3>
                <p>Medical-First Year Fees</p>
            </td>
            <td>
                <h3>8.1/10</h3>
                <p>Based On 185 Students Rating CLAIM THIS COLLEGE</p>
            </td>

            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>

        <tr>
            <td>#3</td>
            <td>
                <h3><a
                        href="https://www.careers360.com/colleges/all-india-institute-of-physical-medicine-and-rehabilitation-mumbai?icn=college_page&ici=clg_6103_college_listing_tuple">
                        AIIPMR Mumbai   
                    </a></h3>
                <h3></h3>
                <p>Mumbai, Maharashtra</p>
            </td>

            <td>
                <h3>₹ 122,250</h3>
                <p>Medical-First Year Fees</p>
            </td>
            <td>
                <h3>8.0/10</h3>
                <p>Based On 205 Students Rating CLAIM THIS COLLEGE</p>
            </td>

            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>

        <tr>
            <td>#4</td>
            <td>
                <h3><a
                        href="https://www.shiksha.com/university/all-india-institute-of-medical-sciences-patna-65409">
                        BIMS Belgaum
                    </a></h3>
                <p>Belgaum, Karnataka</p>
            </td>
            <td>
                <h3>₹ 126,250</h3>
                <p>Medical-First Year Fees</p>
            </td>
            <td>
                <h3>8.5/10</h3>
                <p>Based On 181 Students Rating CLAIM THIS COLLEGE</p>
            </td>

            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>

    </table>
</body>

</html>