<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 20px;
        }

        th {
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>Top IIIT COLLEGES IN INDIA</h1>
    <table style="width:100%">
        <tr>
            <th>CD Rank</th>
            <th>Colleges</th>
            <th>Course Fees</th>
            <th>User Reviews</th>
            <th>Action</th>


        </tr>

        <tr>
            <td>#1</td>
            <td>
                <h3><a
                        href="https://www.shiksha.com/college/christian-medical-college-vellore-24644">International
                        Christian Medical College, Vellore</a></h3>
                <p> CMC Vellore admission 2022 to DM and MCh is based on NEET SS scores followed by NEET SS 2022 Counselling.</p>
            </td>

            <td>
                <h3>₹ 330,250</h3>
                <p>Medical-First Year Fees</p>
            </td>

            <td>
                <h3>8.6/10</h3>
                <p>Based On 83 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3 style="color:brown"><a href="/signup">Apply Now</a></h3>
            </td>

        </tr>

        <tr>
            <td>#2</td>
            <td>
                <h3><a
                        href="https://www.shiksha.com/college/kasturba-medical-college-manipal-manipal-academy-of-higher-education-3245">
                        Kasturba Medical College, Manipal, Manipal Academy of Higher Education
                    </a></h3>
                <p> NEET Stray Vacancy Round Seat Allotment for KMC Manipal MBBS admission 2022 has been released on Dec 23.</p>
            </td>
            <td>
                <h3>₹ 196,250</h3>
                <p>Medical-First Year Fees</p>
            </td>
            <td>
                <h3>8.1/10</h3>
                <p>Based On 185 Students Rating CLAIM THIS COLLEGE</p>
            </td>

            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>

        <tr>
            <td>#3</td>
            <td>
                <h3><a
                        href="https://www.shiksha.com/university/srm-institute-of-science-and-technology-chennai-24749">
                        SRM University
                    </a></h3>
                <h3></h3>
                <p>Kattankulathur,Chennai</p>
            </td>

            <td>
                <h3>₹ 122,250</h3>
                <p>Medical-First Year Fees</p>
            </td>
            <td>
                <h3>8.0/10</h3>
                <p>Based On 205 Students Rating CLAIM THIS COLLEGE</p>
            </td>

            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>

        <tr>
            <td>#4</td>
            <td>
                <h3><a
                        href="https://www.shiksha.com/university/all-india-institute-of-medical-sciences-patna-65409">
                        BIMS Belgaum
                    </a></h3>
                <p>Belgaum, Karnataka</p>
            </td>
            <td>
                <h3>₹ 126,250</h3>
                <p>Medical-First Year Fees</p>
            </td>
            <td>
                <h3>8.5/10</h3>
                <p>Based On 181 Students Rating CLAIM THIS COLLEGE</p>
            </td>

            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>

    </table>
</body>

</html>