<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>About Section | By Code Info</title>
    <link rel="stylesheet" href="jee.css" />
</head>

<body>
    <div class="wrapper">
        <h1>-- NEET --</h1>
        <div class="about-section">
            <p>
                NEET (UG) is one of the toughest medical entrance examinations conducted in India. National Eligibility
                cum Entrance Test is conducted by the National Testing Agency (NTA) for admission to undergraduate
                (MBBS/BDS/Ayush Courses/Veterinary) every year. As per Government of India, it is a mandated requirement
                to qualify NEET Exam to study medical courses in India and abroad.
                <br />
                <button><a href="https://collegedunia.com/neet-college-predictor">More Info</a></b>
                </p>
            </div>
          </div>
        </body>
      </html>