<html>

<head>
	<style>
	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
	}
	
	th,
	td {
		padding: 20px;
	}
	
	th {
		text-align: left;
	}
	</style>
</head>

<body>
    <h1>Top NIT COLLEGES IN INDIA</h1>
	<table style="width:100%">
		<tr>
			<th>CD Rank</th>
			<th>Colleges</th>
			<th>Course Fees</th>
            <th>User Reviews</th>
            <th>Action</th>


		</tr>

		<tr>
			<td>#1</td>
			<td>
                <h3><a href="https://collegedunia.com/university/25889-nit-trichy-tiruchirappalli">NIT Trichy, Tiruchirappalli</a></h3>
                <p>Tiruchirappalli, Tamil Nadu |AICTE, UGC, MHRD Approved</p>
            </td>

			<td>
                <h3>₹ 168,250</h3>
                <p>B.Tech-First Year Fees</p>
            </td>

            <td>
                <h3>8.0/10</h3>
                <p>Based On 183 Students Rating CLAIM THIS COLLEGE</p>
            </td>
           <td>
            <h3><a href="/signup">Apply Now</a></h3>           </td>
           
		</tr>

		<tr>
			<td>#2</td>
			<td>
                <h3><a href="https://collegedunia.com/university/24260-national-institute-of-technology-nit-rourkela">National Institute of Technology - [NIT], Rourkela</a></h3>
                <p>Rourkela, Orissa |AICTE, MHRD Approved</p>
            </td>
			<td>
                <h3>₹ 222,250</h3>
                <p>B.Tech-First Year Fees</p>
            </td>
            <td>
                <h3>8.4/10</h3>
                <p>Based On 285 Students Rating CLAIM THIS COLLEGE</p>
            </td>

             <td>
                <h3><a href="/signup">Apply Now</a></h3>             </td>
		</tr>

        <tr>
			<td>#3</td>
			<td>
                <h3><a href="https://collegedunia.com/university/25620-national-institute-of-technology-nitk-surathkal">National Institute of Technology - [NITK], Surathkal</a></h3>
                <h3></h3>
                <p>Surathkal, Karnataka |AICTE Approved</p>
            </td>

			<td>
                <h3>₹ 222,250</h3>
                <p>B.Tech-First Year Fees</p>
            </td>
            <td>
                <h3>8.4/10</h3>
                <p>Based On 285 Students Rating CLAIM THIS COLLEGE</p>
            </td>

             <td>
                <h3><a href="/signup">Apply Now</a></h3>             </td>
		</tr>

        <tr>
			<td>#4</td>
			<td>
                <h3><a href="https://collegedunia.com/university/25367-nit-warangal-warangal">NIT Warangal, Warangal</a></h3>
                <p>Warangal, Telangana </p>
            </td>
			<td>
                <h3>₹ 126,250</h3>
                <p>B.Tech-First Year Fees</p>
            </td>
            <td>
                <h3>8.65/10</h3>
                <p>Based On 281 Students Rating CLAIM THIS COLLEGE</p>
            </td>

             <td>
                <h3><a href="/signup">Apply Now</a></h3>             </td>
		</tr>

	</table>
</body>
</html>
