<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 20px;
        }

        th {
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>Top B.Tech Private Colleges </h1>
    <table style="width:100%">
        <tr>
            <th>CD Rank</th>
            <th>Colleges</th>
            <th>Course Fees</th>
            <th>User Reviews</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>#1</td>
            <td>
                <h3><a href="https://collegedunia.com/university/25800-bits-pilani-pilani-campus-pilani">BITS Pilani
                        (Pilani Campus) </a></h3>
                <p>Pilani Pilani, Rajasthan |UGC Approved</p>
            </td>
            <td>
                <h3>₹ 330,250</h3>
                <p>B.Tech-First Year Fees</p>
            </td>
            <td>
                <h3>8.6/10</h3>
                <p>Based On 83 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
        <tr>
            <td>#2</td>
            <td>
                <h3><a href="https://collegedunia.com/university/25705-institute-of-chemical-technology-ict-mumbai">
                        Institute of Chemical Technology </a></h3>
                <p> [ICT], Mumbai Mumbai, Maharashtra |UGC, NBA, MHRD Approved</p>
            </td>
            <td>
                <h3>₹ 196,250</h3>
                <p>B.Tech-First Year Fees</p>
            </td>
            <td>
                <h3>8.1/10</h3>
                <p>Based On 185 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
        <tr>
            <td>#3</td>
            <td>
                <h3><a
                        href="https://collegedunia.com/university/25914-vellore-institute-of-technology-vit-university-vellore">
                        Vellore Institute of Technology </a></h3>
                <h3></h3>
                <p>[VIT University], Vellore Vellore, Tamil Nadu |AICTE, UGC Approved</p>
            </td>
            <td>
                <h3>₹ 122,250</h3>
                <p>B.Tech-First Year Fees</p>
            </td>
            <td>
                <h3>8.0/10</h3>
                <p>Based On 205 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
        <tr>
            <td>#4</td>
            <td>
                <h3><a
                        href="https://collegedunia.com/university/25795-thapar-institute-of-engineering-and-technology-thapar-university-patiala">
                        Thapar Institute of Engineering and Technology </a></h3>
                <p>[Thapar University], Patiala Patiala, Punjab |AICTE Approved </p>
            </td>
            <td>
                <h3>₹ 126,250</h3>
                <p>B.Tech-First Year Fees</p>
            </td>
            <td>
                <h3>8.5/10</h3>
                <p>Based On 181 Students Rating CLAIM THIS COLLEGE</p>
            </td>
            <td>
                <h3><a href="/signup">Apply Now</a></h3>            </td>
        </tr>
    </table>
</body>

</html>