<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About Section | By Code Info</title>
    <link rel="stylesheet" href="jee.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>-- WB JEE --</h1>
      <div class="about-section">
<p>
    West Bengal Joint Entrance Examination or the WBJEE is a state-government controlled centralised test, conducted by the West Bengal Joint Entrance Examinations Board for admission to many private and governmental engineering institutions in West Bengal.
          <br />
          <button><a href="https://wbjeeb.nic.in/WBJEECMS/Page/Page?PageId=1&LangId=P">More Info</a></button>
        </p>
      </div>
    </div>
  </body>
</html>